*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #252525;
  color: #f1f1f1;
}

.loader{
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 70vh; 
}

.home-component{
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
}

.home-component .jokes{
  height: 400px
}

.jokes{
  text-align: center;
  margin: auto;
}

form, .button {
  padding: 20px;
}

.icon{
  margin: auto;
  /*padding-bottom: 10px;*/
}

nav{
  height: 90px;
  width: auto;
}

.logo{
  height: 90px;
  width: auto;
}

footer{
  text-align: center;
  height: 50px;
}
